<a href="https://colab.research.google.com/github/NurillahT/it-cert-automation-practice/blob/master/Dass42_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DASS 42**

In [1]:
import numpy as np
import pandas as pd

Original Dataset

In [2]:
data = pd.read_csv('data.csv', delimiter='\t')
data.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

DASS Question Dataset

In [3]:
  # Filter Dataset for DASS42 Question only
dass = data.copy()
dass = dass.filter(regex='Q\d{1,2}A')

  # All score -1, DASS scale 0-3
dass = dass.subtract(1,axis=1)
dass.head()

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q33A,Q34A,Q35A,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A
0,3,3,1,3,3,3,3,3,1,0,...,1,2,3,3,0,1,3,2,3,3
1,3,0,1,2,3,3,2,3,2,1,...,2,1,1,2,3,1,1,0,1,1
2,2,0,3,0,3,2,0,2,1,3,...,0,3,2,3,3,3,1,1,0,3
3,1,2,1,0,2,2,3,1,2,2,...,1,3,0,0,1,0,2,3,3,1
4,1,1,2,3,3,1,3,3,3,2,...,3,3,2,3,2,2,2,3,3,2

In [17]:
dass.isnull().sum()

Q1A     0
Q2A     0
Q3A     0
Q4A     0
Q5A     0
Q6A     0
Q7A     0
Q8A     0
Q9A     0
Q10A    0
Q11A    0
Q12A    0
Q13A    0
Q14A    0
Q15A    0
Q16A    0
Q17A    0
Q18A    0
Q19A    0
Q20A    0
Q21A    0
Q22A    0
Q23A    0
Q24A    0
Q25A    0
Q26A    0
Q27A    0
Q28A    0
Q29A    0
Q30A    0
Q31A    0
Q32A    0
Q33A    0
Q34A    0
Q35A    0
Q36A    0
Q37A    0
Q38A    0
Q39A    0
Q40A    0
Q41A    0
Q42A    0
dtype: int64

In [4]:
  # Question Number for each category
Dass42_keys = {'Depression': [3, 5, 10, 13, 16, 17, 21, 24, 26, 31, 34, 37, 38, 42],
             'Anxiety': [2, 4, 7, 9, 15, 19, 20, 23, 25, 28, 30, 36, 40, 41],
             'Stress': [1, 6, 8, 11, 12, 14, 18, 22, 27, 29, 32, 33, 35, 39]}
  
  # Filter for Depression Question
Dep_Quest = []
for i in Dass42_keys["Depression"]:
    Dep_Quest.append('Q'+str(i)+'A')

  # Filter for Anxiety Question
Anx_Quest = []
for i in Dass42_keys["Anxiety"]:
    Anx_Quest.append('Q'+str(i)+'A')

  # Filter for Stress Question
Str_Quest = []
for i in Dass42_keys["Stress"]:
    Str_Quest.append('Q'+str(i)+'A')

  # Filter Dataset
depression = dass.filter(Dep_Quest)
anxiety = dass.filter(Anx_Quest)
stress = dass.filter(Str_Quest)

In [5]:
  # Depression dataset
depression.head()

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,Q34A,Q37A,Q38A,Q42A
0,1,3,0,3,3,2,0,3,3,3,2,0,1,3
1,1,3,1,3,2,3,1,1,2,1,1,3,1,1
2,3,3,3,3,3,3,3,3,0,3,3,3,3,3
3,1,2,2,0,1,2,0,0,1,2,3,1,0,1
4,2,3,2,3,2,3,2,1,3,2,3,2,2,2

In [6]:
print(len(depression))

39775

In [7]:
  # anxiety dataset
anxiety.head()

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,Q30A,Q36A,Q40A,Q41A
0,3,3,3,1,3,2,2,3,3,2,1,3,2,3
1,0,2,2,2,2,0,0,0,1,3,2,2,0,1
2,0,0,0,1,3,1,0,1,1,0,1,3,1,0
3,2,0,3,2,1,0,1,0,0,0,2,0,3,3
4,1,3,3,3,3,3,3,3,3,3,3,3,3,3

In [8]:
print(len(anxiety))

39775

In [9]:
  # stress dataset
stress.head()

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,Q32A,Q33A,Q35A,Q39A
0,3,3,3,3,3,3,3,3,3,3,3,1,3,3
1,3,3,3,1,1,3,1,2,2,2,2,2,1,1
2,2,2,2,1,0,0,1,2,1,1,2,0,2,1
3,1,2,1,1,0,3,0,0,3,2,0,1,0,2
4,1,1,3,1,3,3,3,2,1,1,3,3,2,2

In [10]:
print(len(stress))

39775

In [11]:
  # Sum scores for each categories
def scores(category):
    col = list(category)
    category['Cat_Scores'] = category[col].sum(axis=1)
    return category
    
depression = scores(depression)
anxiety = scores(anxiety)
stress = scores(stress)

In [12]:
depression.head()

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,Q34A,Q37A,Q38A,Q42A,Cat_Scores
0,1,3,0,3,3,2,0,3,3,3,2,0,1,3,27
1,1,3,1,3,2,3,1,1,2,1,1,3,1,1,24
2,3,3,3,3,3,3,3,3,0,3,3,3,3,3,39
3,1,2,2,0,1,2,0,0,1,2,3,1,0,1,16
4,2,3,2,3,2,3,2,1,3,2,3,2,2,2,32

In [13]:
anxiety.head()

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,Q30A,Q36A,Q40A,Q41A,Cat_Scores
0,3,3,3,1,3,2,2,3,3,2,1,3,2,3,34
1,0,2,2,2,2,0,0,0,1,3,2,2,0,1,17
2,0,0,0,1,3,1,0,1,1,0,1,3,1,0,12
3,2,0,3,2,1,0,1,0,0,0,2,0,3,3,17
4,1,3,3,3,3,3,3,3,3,3,3,3,3,3,40

In [14]:
stress.head()

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,Q32A,Q33A,Q35A,Q39A,Cat_Scores
0,3,3,3,3,3,3,3,3,3,3,3,1,3,3,40
1,3,3,3,1,1,3,1,2,2,2,2,2,1,1,27
2,2,2,2,1,0,0,1,2,1,1,2,0,2,1,17
3,1,2,1,1,0,3,0,0,3,2,0,1,0,2,16
4,1,1,3,1,3,3,3,2,1,1,3,3,2,2,29

# Depression

In [18]:
  # Score Scale for Depression
def dep_indic(dep):
    if 0 <= dep <= 9 :
      return 'Normal'
    elif 10 <= dep <=13:
      return 'Ringan'
    elif 14 <= dep <= 20:
      return 'Sedang'
    elif 21 <= dep <= 27:
      return 'Parah'
    elif dep >= 28:
      return 'Sangat Parah'

depression['Scale_Dep'] = depression['Cat_Scores'].apply(dep_indic)
depression.head()

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,Q34A,Q37A,Q38A,Q42A,Cat_Scores,Scale_Dep
0,1,3,0,3,3,2,0,3,3,3,2,0,1,3,27,Parah
1,1,3,1,3,2,3,1,1,2,1,1,3,1,1,24,Parah
2,3,3,3,3,3,3,3,3,0,3,3,3,3,3,39,Sangat Parah
3,1,2,2,0,1,2,0,0,1,2,3,1,0,1,16,Sedang
4,2,3,2,3,2,3,2,1,3,2,3,2,2,2,32,Sangat Parah

In [28]:
from google.colab import files

depression.to_csv('Depression.csv', index=False, encoding ='utf-8-sig') 
files.download('Depression.csv')

In [29]:
d = pd.read_csv('Depression.csv')
d.head()

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,Q34A,Q37A,Q38A,Q42A,Cat_Scores,Scale_Dep
0,1,3,0,3,3,2,0,3,3,3,2,0,1,3,27,Parah
1,1,3,1,3,2,3,1,1,2,1,1,3,1,1,24,Parah
2,3,3,3,3,3,3,3,3,0,3,3,3,3,3,39,Sangat Parah
3,1,2,2,0,1,2,0,0,1,2,3,1,0,1,16,Sedang
4,2,3,2,3,2,3,2,1,3,2,3,2,2,2,32,Sangat Parah

# Anxiety

In [30]:
  # Score scale for Anxiety
def anx_indic(anx):
    if 0 <= anx <=7 :
      return 'Normal'
    elif 8 <= anx <= 9 :
      return 'Ringan'
    elif 10 <= anx <= 14 :
      return 'Sedang'
    elif 15 <= anx <= 19 :
      return 'Parah'
    elif anx >= 20 :
      return 'Sangat Parah'

anxiety['Scale_Anx'] = anxiety['Cat_Scores'].apply(anx_indic)
anxiety.head()

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,Q30A,Q36A,Q40A,Q41A,Cat_Scores,Scale_Anx
0,3,3,3,1,3,2,2,3,3,2,1,3,2,3,34,Sangat Parah
1,0,2,2,2,2,0,0,0,1,3,2,2,0,1,17,Parah
2,0,0,0,1,3,1,0,1,1,0,1,3,1,0,12,Sedang
3,2,0,3,2,1,0,1,0,0,0,2,0,3,3,17,Parah
4,1,3,3,3,3,3,3,3,3,3,3,3,3,3,40,Sangat Parah

In [31]:
anxiety.to_csv('Anxiety.csv', index=False, encoding ='utf-8-sig') 
files.download('Anxiety.csv')

In [32]:
a = pd.read_csv('Anxiety.csv')
a.head()

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,Q30A,Q36A,Q40A,Q41A,Cat_Scores,Scale_Anx
0,3,3,3,1,3,2,2,3,3,2,1,3,2,3,34,Sangat Parah
1,0,2,2,2,2,0,0,0,1,3,2,2,0,1,17,Parah
2,0,0,0,1,3,1,0,1,1,0,1,3,1,0,12,Sedang
3,2,0,3,2,1,0,1,0,0,0,2,0,3,3,17,Parah
4,1,3,3,3,3,3,3,3,3,3,3,3,3,3,40,Sangat Parah

# Stress

In [33]:
  # Score scale for Stress
def stre_indic(stre):
    if 0 <= stre <=14:
      return 'Normal'
    elif 15 <= stre <= 18 :
      return 'Ringan'
    elif 19 <= stre <= 25 :
      return 'Sedang'
    elif 26 <= stre <= 33 :
      return 'Parah'
    elif stre >= 34 :
      return 'Sangat Parah'

stress['Scale_Stre'] = stress['Cat_Scores'].apply(stre_indic)
stress.head(10)

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,Q32A,Q33A,Q35A,Q39A,Cat_Scores,Scale_Stre
0,3,3,3,3,3,3,3,3,3,3,3,1,3,3,40,Sangat Parah
1,3,3,3,1,1,3,1,2,2,2,2,2,1,1,27,Parah
2,2,2,2,1,0,0,1,2,1,1,2,0,2,1,17,Ringan
3,1,2,1,1,0,3,0,0,3,2,0,1,0,2,16,Ringan
4,1,1,3,1,3,3,3,2,1,1,3,3,2,2,29,Parah
5,0,0,2,0,1,2,0,0,0,2,0,3,2,0,12,Normal
6,0,0,2,0,1,1,1,0,0,1,1,3,1,3,14,Normal
7,0,1,0,1,0,1,1,0,1,0,0,0,0,1,6,Normal
8,3,3,3,3,3,2,3,3,1,3,1,3,1,1,33,Parah
9,2,3,3,3,3,3,0,2,3,3,1,3,2,3,34,Sangat Parah

In [34]:
stress.to_csv('Stress.csv', index=False, encoding ='utf-8-sig') 
files.download('Stress.csv')

In [35]:
s = pd.read_csv('Stress.csv')
s.head()

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,Q32A,Q33A,Q35A,Q39A,Cat_Scores,Scale_Stre
0,3,3,3,3,3,3,3,3,3,3,3,1,3,3,40,Sangat Parah
1,3,3,3,1,1,3,1,2,2,2,2,2,1,1,27,Parah
2,2,2,2,1,0,0,1,2,1,1,2,0,2,1,17,Ringan
3,1,2,1,1,0,3,0,0,3,2,0,1,0,2,16,Ringan
4,1,1,3,1,3,3,3,2,1,1,3,3,2,2,29,Parah